.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &--fullscreen {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-bg);
    backdrop-filter: blur(4px);
    z-index: 9999;
  }

  &__animation {
    width: 500px;
    height: 500px;
  }
}
